/**
 * Custom styles
 */
a {
	color: #ff0095;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
}

.sidebar-nav a {
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.sidebar-nav a:hover {
	color: #ff0095;
}
